/reference/iris-decoder.png
/1007_R
/african
/dataset
/africa_data
/dataset
/iris_edge
/iris_edge_mask
/params
/pupil_edge
/pupil_edge_mask
/CASIA_Iris_Africa_E30_imageList.txt
/CASIA-Iris-Africa.zip
/result
/protocols
/__pycache__
/reference
/run.sh
/run.py
/dataset
data/*
